@media screen and (min-width: 1200px) {
  #musicGallery {
    padding: 30px 12% !important;
  }
}

@media screen and (min-width: 854px) {
  #aboutInfo + img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100vh;
  }
  #aboutInfo {
    width: 100%;
    max-width: 700px;
    min-width: 400px;
  }

  .player {
    width: 60%;
    max-width: 1400px;
    .center {
      div > img {
        height: 70vh;
        max-height: 1400px;
      }
    }
  }

  #musicGallery {
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    // padding: 30px;
  }

  .songContainer div {
    padding: 20px;
  }

  .songContainer:nth-child(1),
  .songContainer:nth-child(4),
  .songContainer:nth-child(5) {
    background-color: rgba(182, 34, 34, 0.967);
  }

  .songContainer:nth-child(2),
  .songContainer:nth-child(3),
  .songContainer:nth-child(6) {
    background-color: rgba(5, 4, 4, 0.912);
  }
  .songContainer:nth-child(even) > div > p:nth-child(2) {
    background-color: rgba(182, 34, 34, 0.967);
  }

  .songContainer:nth-child(1) > div > p:nth-child(2),
  .songContainer:nth-child(4) > div > p:nth-child(2),
  .songContainer:nth-child(5) > div > p:nth-child(2) {
    background-color: color.$black-dark;
  }
  .songContainer:nth-child(2) > div > p:nth-child(2),
  .songContainer:nth-child(3) > div > p:nth-child(2),
  .songContainer:nth-child(6) > div > p:nth-child(2) {
    background-color: rgba(182, 34, 34, 0.967);
  }
  .playing {
    // background-color: rgb(56, 54, 54) !important;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 450px;
  }
}
