@use "colors" as color;
@use "images" as image;
@use "fonts" as font;
@use "positions" as position;
@use "animations";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  font-family: font.$main-font;
}

h2 {
  font-size: 1.7em;
}
main {
  @include image.setImage(image.$hero, color.$black-dark);

  .containerIntroText {
    height: 100vh;
    @include position.flexColumnCC();
  }
  h1,
  p {
    text-align: center;
  }
  h1 {
    font-size: 4rem;
    text-decoration: line-through;
  }
  h1 + p {
    font-size: 1.2rem;
    font-variant: small-caps;
    padding-bottom: 10px;
  }
}

#aboutUs {
  @include image.setImage(image.$concertRed, color.$black-dark);
  @include position.flexRowCC();

  #aboutInfo {
    @include position.flexColumnCC();
    gap: 20px;
    margin: 0 20px;

    p {
      font-size: 1.1em;
    }
  }
  img {
    display: none;
  }
}

a:link {
  color: color.$white;
  text-decoration: none;
}
a:visited {
  color: color.$black-light;
}

a:active {
  color: color.$black-dark;
}

#events {
  @include image.setImage(image.$pandaPlaying, color.$black-dark);
  @include position.flexColumnCC();
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 70px;
  gap: 50px;

  .event {
    width: 100%;
    position: relative;
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: color.$white-light;
    }

    a > p {
      // margin-top: -20px;
      // background-color: color.$blue-dark;
      position: absolute;
      border: 2px solid rgba(182, 182, 182, 0.296);
      padding: 5px 10px;
      position: relative;
      z-index: 5;
    }
  }
}
#concert {
  &1 {
    @include image.setConcert(image.$concert1, color.$black-light);
  }
  &2 {
    @include image.setConcert(image.$concert2, color.$black-light);
  }
  &3 {
    @include image.setConcert(image.$concert3, color.$black-light);
  }
  &4 {
    @include image.setConcert(image.$concert4, color.$black-light);
  }
  &5 {
    @include image.setConcert(image.$concert5, color.$black-light);
  }
  &6 {
    @include image.setConcert(image.$concert6, color.$black-light);
  }
}
.concert:hover {
  // background-blend-mode: hard-light !important;
  filter: grayscale(0) !important;
  background-color: rgba(41, 41, 41, 0.445) !important;
  // background-color: rgb(41, 41, 41) !important;
}

#musicGallery {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
#musicGalleryContainer {
  @include image.setImage(image.$solo, color.$black-dark);
  height: fit-content !important;
  padding: 20px;
}

.tittleGallery {
  text-align: center;
}

.songContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: rgba(24, 24, 24, 0.385);
  transition: background-color 0.3s linear;

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .coverPic {
    width: 200px;
    height: 200px;

    object-fit: cover;
  }

  .bandName,
  .songName {
    text-align: left;
  }
  .bandName {
    font-size: 0.9rem;
    font-weight: bolder;
  }
  .songName {
    font-size: 1rem;
  }
}
.songContainer:hover {
  background-color: rgba(182, 34, 34, 0.967);
  cursor: pointer;
}

.hide {
  display: none !important;
}

.paused {
  filter: grayscale(0.8);
}
.songContainer > div > p:nth-child(2) {
  background-color: red !important;
}

@import "media";
